<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="static/images/me_favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a665d117e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/assets/css/main_projects.css">
    <title>James's Projects</title>
</head>

<body>

    <div class="bg-wrap">
        <header>
            <ul class="icons">
                <li><a href="/" class="fa-home" title="Back"></a></li>
            </ul>
            <h1 class="projects-header">PROJECTS</h1>
        </header>

        <hr>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 card-row">
          <div class="col">
            <div class="card h-100">
                <div class="img-box">
                    <img src="static/images/ff1.jpg" class="card-img-top" alt="flight flavour image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Flight Flavour App</h5>
                    <p class="card-text"><br>Built with <em>React</em> and <em>Javascript</em> and utilising components from Material UI.
                    <br>Find cheap flight deals and book any you find quickly via a third-party API/affiliate link.<br><br>Deployed online at Render.com.</p>
                </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/flight_flavour" class="col-12 button">View Code</a>
                        <a href="https://flightflavour.onrender.com/" class="col-12 button">Visit Site</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
                <div class="img-box">
                    <img src="static/images/todo.jpg" class="card-img-top" alt="to-do list image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">To-Do List App</h5>
                    <p class="card-text"><br>A simple 'to-do' list built using <em>Javascript</em>, <em>jQuery</em>, <em>Node</em>, <em>Express</em>, <em>EJS</em>, <em>MongoDB</em> and <em>Mongoose</em>.<br><br>Deployed online at Render.com.</p>
                </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/To-Do-List" class="col-12 button">View Code</a>
                        <a href="https://to-do-list-j8mu.onrender.com/" class="col-12 button">Visit Site</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
                <div class="img-box">
                    <img src="static/images/ytdl.jpg" class="card-img-top" alt="youtube audio downloader image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">YouTube Audio Downloader App</h5>
                    <p class="card-text"><br><p>This project allows you to download the audio stream from any YouTube video in MP3 format.</p><p>It's built using <em>Flask</em>, <em>Jinja</em>, <em>Bootstrap 5</em>, <em>Pytube</em> and the <em>Python</em> built-in <em>OS</em> and <em>Bytes.IO</em> modules.</p>
                    <p><br>Deployed online at render.com</p>
                </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/YTDLAudio" class="col-12 button">View Code</a>
                        <a href="https://ytdlaudio.onrender.com/" class="col-12 button">Visit Site</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
                <div class="img-box">
                    <img src="static/images/ff.jpg" class="card-img-top" alt="favorite things image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Favourite Things App</h5>
                    <p class="card-text"><br><p>A CRUD WebApp that displays a flip card list of my favourite movies and songs.</p>
                    <p>It utilises <em>SQL</em> to create, update and delete items on demand.<br>It's built with <em>Python</em>, <em>Flask</em>, <em>Jinja</em>, <em>Bootstrap 5</em>, <em>SQLAlchemy</em>,
                    and <em>WTForms</em>.<br>Data is pulled from the <em>Google/YouTube API</em> and <em>TMDB API</em>.</p>
                    <p><br>Deployed online at render.com.</p>
                </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/Favourite-Things-App" class="col-12 button">View Code</a>
                        <a href="https://favourite-things-app.onrender.com/" class="col-12 button">Visit Site</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>

        <hr>

        <!-- API & AUTOMATION -->

        <div class="project-desc">
            <h2>API & Automation</h2>
            <p>A selection of apps I've created to help me develop my skills but also help me in day-to-day life.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-2 card-row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Speed Test Tweeter</h5>
                <p class="card-text"><br><p>Created as a project to hone my skills with Python and Linux.<br><br>
                        Utilising a <em>Raspberry Pi</em> I've setup a <em>Python</em> application to run a <em>speed test API</em> three times daily using built-in Linux task scheduler <em>Cron</em>.
                        It then writes the test results to a CSV file and tweets them to my bot account using the <em>Twitter API</em>.<br>
                        If the speed isn't as promised by my ISP a different tweet is posted.</p>
              </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/SpeedtestTweet" class="col-12 button">View Code</a>
                        <a href="https://twitter.com/Bird_App_User_" class="col-12 button">Visit Site</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Amazon Price Checker</h5>
                <p class="card-text"><br><p>This project allowed me to practice <em>Web Scraping</em> with <em>Beautiful Soup 4</em> and email with <em>SMTPLIB</em>.<br><br>
                        It checks daily the price of a product on Amazon and if it's below a certain price I receive an email alerting me which also contains the page link for fast purchase.
                    </p>
              </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/Amazon-Price-Checker" class="col-12 button">View Code</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Will It Rain Today?</h5>
                <p class="card-text"><br><p>One of the first projects I completed that utilizes two different APIs and sends SMS messages.<br><br>
                        Using <em>Python</em> this app checks the <em>OpenWeatherMap API</em> for the latest weather forcast in my area and if it's going to rain, It sends me an SMS message using the <em>Twilio API</em>.
                    </p>
              </div>
                <ul class="container actions">
                    <li class="row justify-content-center">
                        <a href="https://github.com/jamesslinger/Will-It-Rain" class="col-12 button">View Code</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>

        <hr>

        <!--NAV LINKS-->
        <div>
            <ul class="icons">
                <li><a href="/" class="fa-home" title="Back">Home</a></li>
                <li><a href="mailto:jamesxslinger@gmail.com" class="fa-envelope" title="Email Me">Email</a></li>
                <li><a href="https://www.linkedin.com/in/jamesslinger/" class="fa-linkedin" title="LinkedIn">LinkedIn</a></li>
                <li><a href="https://github.com/jamesslinger" class="fa-github" title="Github">Github</a></li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <p id="copyright">&copy; {{ year }}  |  Built by James Slinger</p>
    </footer>

</body>
</html>