<!DOCTYPE HTML>
<html>
	<head>
		<title>James The Dev</title>
		<link rel="icon" href="static/images/me_favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<ul class="icons">
								<li><a href="/" class="fa-home" title="Back">Home</a></li>
							</ul>
							<h1 id="projects">PROJECTS</h1>
						</header>
						<hr>
						<div>
							<h2>My First Personal Website - v1.0</h2>
							<p>The first website I built for myself. It's a simple 2 page site using <em>HTML</em> & <em>CSS</em>.</p>
								<p>Click the images below to see a preview</p>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="static/images/ws1_dt.jpg">
								    <img src="static/images/ws1_dt.jpg" alt="ws1"></a>
							    </div>
									<div class="desc">Desktop view</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="static/images/ws1_mobile.jpg">
								    <img src="static/images/ws1_mobile.jpg" alt="ws1"></a>
							    </div>
									<div class="desc">Mobile view</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="static/images/ws1_mnav.jpg">
								    <img src="static/images/ws1_mnav.jpg" alt="ws1"></a>
							    </div>
									<div class="desc">Responsive navbar</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="static/images/ws1_mpro.jpg">
								    <img src="static/images/ws1_mpro.jpg" alt="ws1">
								    </a>
							    </div>
									<div class="desc">Projects page</div>
							</div>
						</div>

						<div class="clearfix"></div>

						<ul class="actions">
							<li>
								<a href="https://github.com/jamesslinger/Personal-Site-v1.0" class="button">View Source Code</a>
							</li>
						</ul>

						<hr>

						<div>
							<h2>More Coming Soon</h2>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="#">
								    <img src="static/images/coming-soon.png" alt="Coming Soon"></a>
							    </div>
									<div class="desc">Coming Soon</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="#">
								    <img src="static/images/coming-soon.png" alt="Coming Soon"></a>
							    </div>
									<div class="desc">Coming Soon</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="#">
								    <img src="static/images/coming-soon.png" alt="Coming Soon"></a>
							    </div>
									<div class="desc">Coming Soon</div>
							</div>
							<div class="responsive">
							    <div class="gallery">
								    <a target="_blank" href="#">
								    <img src="static/images/coming-soon.png" alt="Coming Soon">
								    </a>
							    </div>
									<div class="desc">Coming Soon</div>
							</div>
						</div>

						<div class="clearfix"></div>

						<ul class="actions">
							<li>
								<a href="#" class="button">View Source Code</a>
							</li>
						</ul>

						<hr>

						<footer>
							<ul class="icons">
								<li><a href="/" class="fa-home" title="Back">Home</a></li>
								<li><a href="mailto:jamesxslinger@gmail.com" class="fa-envelope" title="Email Me">Email</a></li>
								<li><a href="https://www.linkedin.com/in/jamesslinger/" class="fa-linkedin" title="LinkedIn">LinkedIn</a></li>
								<li><a href="https://github.com/jamesslinger" class="fa-github" title="Github">Github</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; {{ year }}  |  Built by James Slinger</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="static/assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>